mixin score(score)
    div
        a(href=`/subject/${subject.id}/score/${score.id}`)
            h4.createdAt.score__createdAt #{score.createdAt}
            h4.score #{score.score} 점
            h4.score__length #{score.tests.length} 문제
        hr