mixin score(score)
    div
        a(href=`/subject/${subject.id}/score/${score.id}`)
            h4 점수: #{score.score}
            h4 #{score.createdAt}
            h4 문제 수: #{score.tests.length}
        hr