mixin test(test)
    div.test_mixin
        h4
            div.test_left
                div.quetionBox
                    h4.Q Q
                    a(href=`/subject/${test.subject.id}/test/${test.id}/edit`).question=test.question
                br
                div.answerBox
                    h4.A A
                    small.answer=test.answer
                h5.createdAt=test.createdAt
            div.test_right
                a(href=`/subject/${test.subject.id}/test/${test.id}/delete`).deleteTest
                    i.fas.fa-trash-alt
        hr