header 
            div.left__header
                a(href="/")
                    img(src="/uploads/default/redBird.png").main__logo
                if !subject
                    a(href="/")
                        h1=pageTitle
                else 
                    a(href=`/subject/${subject.id}`)
                        h1=pageTitle  
            nav
                ul
                    if loggedIn
                        li 
                            a(href="/user/edit") 프로필 설정
                        li 
                            a(href="/user/logout") 로그아웃
                        li
                            a(href=`/user/${loggedInUser._id}`) 내가 쓴 글
                        li
                            h4 포인트: 
                            span.point=loggedInUser.point
                    else
                        li
                            a(href="/enroll") 회원가입
                        li
                            a(href="/login") 로그인