extends ../base.pug
include ../mixins/posting

block content
    if loggedIn
        form(id="postingSearch" method="GET").search__form
            input.posting__search(placeholder="글 검색하기",name="keyword", type="text")
            button(form="postingSearch", type="submit").posting__search__btn
                i.fas.fa-search
        div.postings__box
            each posting in postings
                +posting(posting)
            else
                li Sorry nothing found.
        
        div.paging_box
            if startPage > maxPost
                a.prev_btn.pageBtn(href=`http://localhost:4000/subject/${subject.id}/community?page=${startPage-1}`)
                    i.fas.fa-angle-double-left.prev1
            else
                a.prev_btn.pageBtn.disabled(href="javascript:void(0);")
                    i.fas.fa-angle-double-left.prev2

            -for (let i = startPage; i <= endPage ; i++)
                if i === currentPage 
                    a.pageBtn.current(href=`http://localhost:4000/subject/${subject.id}/community?page=${i}`)
                        span.currentPageNum=i
                else
                    a.pageBtn(href=`http://localhost:4000/subject/${subject.id}/community?page=${i}`)
                        span.otherPageNum=i       
            if endPage < totalPage 
                a.next_btn.pageBtn(href=`http://localhost:4000/subject/${subject.id}/community?page=${endPage+1}`)
                    i.fas.fa-angle-double-right.next1
            else 
                a.next_btn.pageBtn.disabled(href="javascript:void(0);")
                    i.fas.fa-angle-double-right.next2
        dib.postings__footer
            a(href="community/upload").posting__btn 글쓰기
    else
        a(href="/login") 게시판을 보려면 먼저 로그인 하기 &rarr;

block scripts 
    script(src="/static/js/communityTimeEditer.js")