extends ../base

block content
    if errorMessage
      span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        div.edit__profileBox
            if(loggedInUser.social)
                img(src=loggedInUser.avatarUrl)
            else
                img(src="/" + loggedInUser.avatarUrl)
            input(type="file", id="avatar", name="avatar", accept="image/*")
        div.edit__inputBox
            label() 소속
            if(loggedInUser.school)
                input(placeholder="변경 불가", readonly, type="text",  value=loggedInUser.school.name)
            else
                h4 학교 미소속 회원
        span.warning 회원가입 후 소속 학교 변경불가
        div.edit__inputBox
            label(for="name") 닉네임 
            input(placeholder="이름",id="name", name="name", type="text", required, value=loggedInUser.name)
        div.edit__inputBox
            label(for="email") 이메일 
            input(placeholder="email", id="email", name="email", type="email", required, value=loggedInUser.email)
        div.edit__certificate
            if(!loggedInUser.emailCertificated)
                h5.warning 이메일 인증 미완료
                a(href=`/user/certificate-email`).edit__certificateBtn 인증하기
        div.edit__inputBox
            label(for="id") 아이디 
            input(placeholder="id", name="username",id="id", type="text", required, value=loggedInUser.username)
        input(type="submit", value="수정하기").edit__submitBtn
        div.edit__links
            if(!loggedInUser.social)
                a(href=`/user/change-password`, style="color: black;") 비밀번호 변경하기
            br
            a(href=`/user/leave`, style="color: black;") 탈퇴하기
            span.warning (⚠복구불가)

    