extends ../base
include ../mixins/posting

block content
    div.profile
        if user.avatarUrl
            img(src=user.avatarUrl).profile__img
        else
            img(src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png").profile__img
        h2.profile__name=user.name
    hr
    div.list
        br
        h4.list__name1 #{user.name}ë‹˜ì˜ ìž‘ì„±ê¸€ ëª©ë¡
        div.write
            each posting in postings
                    +posting(posting)
            else
                li ìž‘ì„±ê¸€ì´ ì—†ìŠµë‹ˆë‹¤.
        div.paging_box
            if startPage > maxPost
                a.prev_btn.pageBtn(href=`http://localhost:4000/user/${user._id}?page=${startPage-1}`)
                    i.fas.fa-angle-double-left.prev1
            else
                a.prev_btn.pageBtn.disabled(href="javascript:void(0);")
                    i.fas.fa-angle-double-left.prev2

            -for (let i = startPage; i <= endPage ; i++)
                if i === currentPage 
                    a.pageBtn.current(href=`http://localhost:4000/user/${user._id}?page=${i}`)
                        span.currentPageNum=i
                else
                    a.pageBtn(href=`http://localhost:4000/user/${user._id}?page=${i}`)
                        span.otherPageNum=i       
            if endPage < totalPage 
                a.next_btn.pageBtn(href=`http://localhost:4000/user/${user._id}?page=${endPage+1}`)
                    i.fas.fa-angle-double-right.next1
            else 
                a.next_btn.pageBtn.disabled(href="javascript:void(0);")
                    i.fas.fa-angle-double-right.next2
    div.profiles__footer
        a(href=`${user._id}/testList`).list__name2 #{user.name}ë‹˜ì˜ ë¬¸ì œ ë¦¬ìŠ¤íŠ¸ ë³´ëŸ¬ ê°€ê¸°
        if String(loggedInUser._id) !== String(user._id)
            a(href=`${user._id}/report`) ìœ ì €ì‹ ê³ ðŸ””
    scripts
        script(src="/static/js/communityTimeEditer.js")